/AllenIzh.net.nml
/allen57.png
/LEMS_AllenIzhTest.xml
/testParams.py~
/LEMS_SSTest.xml
/SSTest.net.nml
submit_*
log*
x86_64
/LEMS_AllenTest.xml
/AllenTest.net.nml
/LEMS_TestGran.xml
/GranuleCell.net.nml
*nrn.py
*.dat
NT_*
*.mod
*.hoc
*.pyc
